

.flash-card-container {
    display: flex;
    justify-content: center;
    margin: 50px;
    perspective: 1000;
}

.flash-card {
    width: 650px;
    height: 300px;
    padding: 30px;

    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}

.flash-card-flip {
    position: relative;
    width: 100%;
    height: 100%;
    
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flash-card.Definition .flash-card-flip {
    transform: rotateY(180deg);
}

.Term-Side, .Definition-Side {
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(157, 144, 144);
    border-radius: 10px;
    box-shadow: 0 4px 8px;

    font-family: Helvetica;
}

.Definition-Side {
    transform: rotateY(180deg);
}


.term {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.definition {
    font-size: 20px;

    flex: 1;
    padding: 45px;
    text-align: center;
}