
.KeyTerm {
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 100px;

    border: 1px solid;
    border-radius: 5px;

    overflow: scroll;
    box-shadow: 0 4px 6px;

    background-color: lightgray;

    font-family: serif, Arial;
}

.Term-Table {
    font-weight: bold;
    border-right: 1px solid;
    width: 200px;
}

.Definition-Table {
    width: 550px;
}

.Term-Table, .Definition-Table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

